.alert {
  color: var(--red);
}

.alert__border {
  border: 0.125rem solid var(--error-red);
}

.wrapper__main {
  width: 100%;
  color: var(--text-primary);
  padding: 2rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-green);
}

.flex-container {
  background-color: var(--text-primary);
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 30rem;
  align-items: center;
  justify-self: center;
  justify-content: center;
  height: auto;
  max-width: 24rem;
  filter: drop-shadow(0.5rem 0.5rem 1rem var(--text-secondary));
  padding-bottom: 1rem;
}

#password--container {
  position: relative;
}

.crossbutton {
  height: 1.75rem;
  width: 1.7rem;
  text-align: center;
  border-radius: 10%;
  background-color: var(--background-secondary);
  color: var(--text-secondary);
  border: none;
  opacity: 1;
  font-weight: 800;
}
.crossbutton--position {
  position: absolute;
  bottom: 90%;
  left: 74%;
}
.crossbutton:hover {
  background-color: var(--text-secondary);
  color: var(--background-primary);
  border: 1px solid transparent;
  transition: all ease-in 0.1s;
  opacity: 0.6;
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-green);
  border-radius: 0.25rem;
  border: none;
  color: var(--white);
  opacity: 0.8;
  width: 100%;
  font-weight: 550;
}

.button:hover {
  opacity: 1;
}

hr {
  border: 0.1px solid var(--light-green);
  opacity: 0.6;
}

.padding-right {
  padding: 0.25rem;
}

.label {
  font-weight: 570;
  display: block;
  padding: 0.25rem 0.5rem 0.25rem 0;
  text-align: left;
  color: var(--background-primary);
}

.input {
  border: 0.125rem solid var(--light-green);
  border-radius: 0.25rem;
  padding: 0.5rem 0.5rem;
  outline: none;
  margin: 0.25rem 0.25rem 0.25rem 0;
  width: 100%;
  opacity: 0.8;
}

.input:focus {
  border: 0.125rem solid var(--primary-green);
  opacity: 1;
}

#password--input {
  width: calc(73%);
  margin: 0;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-right: none;
}
#passowrd-input :focus {
  border: 0.125rem solid var(--primary-green);
}
.secondary {
  padding: 0.5rem 0.5rem;
  outline: none;
  margin: 0;
  width: 25%;
  text-align: center;
  font-weight: 650;
}

#is--shown {
  display: inline;
  color: var(--background-secondary);
  background-color: var(--text-primary);
  border-radius: 0.25rem;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  padding: 0.5rem 0.5rem;
  border: 0.125rem solid var(--light-green);
  border-left: none;
}
#is--shown:focus {
  border: 0.125rem solid var(--primary-green);
}
.checkbox {
  border-radius: 0.125rem;
  display: inline;
  border: 2px solid transparent;
  color: var(--primary-green);
}

.checkbox:focus {
  border: 2px solid var(--primary-green);
}

.para {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  border: none;
  width: 15rem;
  line-height: 0.9rem;
}

.text--red {
  text-align: left;
  padding-left: 0.3rem;
  color: var(--red);
}

.label--terms,
.label--remember {
  margin: 0.25rem 0 0.5rem 0;
}

.signup,
.login {
  margin: 0.75rem 0;
}

.link--secondary {
  text-decoration: none;
  color: var(--primary-green);
}
.link--secondary:focus {
  text-decoration: underline;
}
@media only screen and (min-width: 480px) {
  .flex-container {
    width: 100%;
  }
}
